<p id="notice"><%= notice %></p>
<div class="row tittle-button">
  <h1>Listing Establishments</h1>
  <%= button_to 'New Establishment', new_establishment_path, :method => "get", class: "btn btn-success mr-auto" %>
</div>
<div class="overflow-x">
  <table class="table table-striped table-gray">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Dirección</th>
        <th scope="col">Tipo de Dirección</th>
        <th scope="col">Nombre de Propietario</th>
        <th scope="col">Género del Propietario</th>
        <th scope="col">Número de Solicitud</th>
        <th scope="col">Aforo</th>
        <th scope="col">Letras Aforo</th>
        <th scope="col">Actividad</th>
        <th scope="col">Área</th>
        <th scope="col">Primera Inspección</th>
        <th scope="col">Segunda Inspección</th>
        <th scope="col">¿Cumple?</th>
        <th scope="col">Número de Recibo</th>
        <th scope="col">Número de Resolución</th>
        <th scope="col">Tipo de Inspección</th>
        <th scope="col">Riesgo</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @establishments.each do |establishment| %>
        <tr>
          <td scope="row"><%= establishment.nombre %></td>
          <td scope="row"><%= establishment.direccion %></td>
          <td scope="row"><%= establishment.tipo_direccion %></td>
          <td scope="row"><%= establishment.nombre_propietario %></td>
          <td scope="row"><%= establishment.genero_propietario %></td>
          <td scope="row"><%= establishment.num_soli %></td>
          <td scope="row"><%= establishment.aforo %></td>
          <td scope="row"><%= establishment.letras_aforo %></td>
          <td scope="row"><%= establishment.actividad %></td>
          <td scope="row"><%= establishment.area %></td>
          <td scope="row"><%= establishment.primera_inspeccion %></td>
          <td scope="row"><%= establishment.segunda_inspeccion %></td>
          <td scope="row"><%= establishment.cumple ? "Si" : "No" %></td>
          <td scope="row"><%= establishment.num_recibo %></td>
          <td scope="row"><%= establishment.num_resolucion %></td>
          <td scope="row"><%= establishment.tipo_inspeccion %></td>
          <td scope="row"><%= establishment.riesgo %></td>
          <td scope="row"><%= link_to 'Show', establishment, class: "btn btn-secondary" %></td>
          <td scope="row"><%= link_to 'Edit', edit_establishment_path(establishment), class: "btn btn-secondary" %></td>
          <td scope="row"><%= link_to 'Destroy', establishment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>