<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @establishment.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @establishment.direccion %>
</p>

<p>
  <strong>Tipo direccion:</strong>
  <%= @establishment.tipo_direccion %>
</p>

<p>
  <strong>Nombre propietario:</strong>
  <%= @establishment.nombre_propietario %>
</p>

<p>
  <strong>Genero propietario:</strong>
  <%= @establishment.genero_propietario %>
</p>

<p>
  <strong>Num soli:</strong>
  <%= @establishment.num_soli %>
</p>

<p>
  <strong>Aforo:</strong>
  <%= @establishment.aforo %>
</p>

<p>
  <strong>Letras aforo:</strong>
  <%= @establishment.letras_aforo %>
</p>

<p>
  <strong>Actividad:</strong>
  <%= @establishment.actividad %>
</p>

<p>
  <strong>Area:</strong>
  <%= @establishment.area %>
</p>

<p>
  <strong>Primera inspeccion:</strong>
  <%= @establishment.primera_inspeccion %>
</p>

<p>
  <strong>Segunda inspeccion:</strong>
  <%= @establishment.segunda_inspeccion %>
</p>

<p>
  <strong>Cumple:</strong>
  <%= @establishment.cumple %>
</p>

<p>
  <strong>Num recibo:</strong>
  <%= @establishment.num_recibo %>
</p>

<p>
  <strong>Num resolucion:</strong>
  <%= @establishment.num_resolucion %>
</p>

<p>
  <strong>Tipo inspeccion:</strong>
  <%= @establishment.tipo_inspeccion %>
</p>

<p>
  <strong>Riesgo:</strong>
  <%= @establishment.riesgo %>
</p>

<%= link_to 'Edit', edit_establishment_path(@establishment) %> |
<%= link_to 'Back', establishments_path %>
