<p id="notice"><%= notice %></p>
<div class="container">
  <%= link_to 'Ver Lista', establishments_path, class: "btn btn-success" %>
  <%= link_to 'Editar', edit_establishment_path(@establishment), class: "btn btn-success" %>
  <%= link_to 'Generar Resoluci贸n', establishment_download_resolution_path(@establishment), target: :_blank, class: "btn btn-success" %>
  <% if @establishment.generate_resolution %>
    <%= link_to 'Generar Certificado', establishment_download_certificado_path(@establishment), class: "btn btn-success" %>
  <% end %>
</div>
<hr/>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Descripci贸n</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Nombre:</strong></td>
      <td><%= @establishment.nombre %></td>
    </tr>
    <tr>
      <td><strong>Direccion:</strong></td>
      <td><%= @establishment.direccion %></td>
    </tr>
    <tr>
      <td><strong>Tipo direccion:</strong></td>
      <td><%= @establishment.tipo_direccion %></td>
    </tr>
    <tr>
      <td><strong>Nombre propietario:</strong></td>
      <td><%= @establishment.nombre_propietario %></td>
    </tr>
    <tr>
      <td><strong>Sr/Sra:</strong></td>
      <td><%= @establishment.genero_propietario %></td>
    </tr>
    <tr>
      <td><strong>Num soli:</strong></td>
      <td><%= @establishment.num_soli %></td>
    </tr>
    <tr>
      <td><strong>Aforo:</strong></td>
      <td><%= @establishment.aforo %></td>
    </tr>
    <tr>
      <td><strong>Letras aforo:</strong></td>
      <td><%= @establishment.letras_aforo %></td>
    </tr>
    <tr>
      <td><strong>Actividad:</strong></td>
      <td><%= @establishment.actividad %></td>
    </tr>
    <tr>
      <td><strong>Area:</strong></td>
      <td><%= @establishment.area %></td>
    </tr>
    <tr>
      <td><strong>Primera inspeccion:</strong></td>
      <td><%= @establishment.primera_inspeccion %></td>
    </tr>
    <tr>
      <td><strong>Cumple Primera Inspecci贸n:</strong></td>
      <td><%= @establishment.cumple_text %></td>
    </tr>
    <tr>
      <td><strong>Segunda inspeccion:</strong></td>
      <td><%= @establishment.segunda_inspeccion %></td>
    </tr>
    <tr>
      <td><strong>Cumple Segunda Inspecci贸n:</strong></td>
      <td><%= @establishment.cumple_2_text %></td>
    </tr>
    <tr>
      <td><strong>Num recibo:</strong></td>
      <td><%= @establishment.num_recibo %></td>
    </tr>
    <tr>
      <td><strong>Num resolucion:</strong></td>
      <td><%= @establishment.num_resolucion %></td>
    </tr>
    <tr>
      <td><strong>Tipo inspeccion:</strong></td>
      <td><%= @establishment.tipo_inspeccion %></td>
    </tr>
    <tr>
      <td><strong>Riesgo:</strong></td>
      <td><%= @establishment.riesgo %></td>
    </tr>
  </tbody>
</table>