<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <title>Constancias</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	  <%= csrf_meta_tags %>
	</head>
	<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark p-3">
      <%= link_to('Inicio', root_path, class: "navbar-brand mr-auto mr-lg-0") %>

      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse offcanvas-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-3">
            <%= link_to "Lista Ex Post", "#{root_path}?t=ep", class: "nav-link p-2 text-success" %>
          </li>
          <li class="nav-item mr-3">
            <%= link_to "Lista Ex Ante", "#{root_path}?t=ea", class: "nav-link p-2 text-success" %>
          </li>
          <li class="nav-item mr-3">
            <%= link_to "Lista De Detalle", "#{root_path}?t=dd", class: "nav-link p-2 text-success" %>
          </li>
          <li class="nav-item mr-3">
            <%= button_to 'Agregar nuevo', new_establishment_path, :method => "get", class: "btn btn-success mr-auto" %>
          </li>
        </ul>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-danger") %>
      </div>
    </nav>
		<main role="main" class="container">
			<%= yield %>
		</main>
	</body>
</html>
